#root {
margin-left: 35%;
}

input[type="number"]{
width : 50%;
 height : 50px;
 border : solid 1.5px orange;
 border-radius : 5px;
 margin-top: 10px;
 margin-bottom : 10px;
 }@media screen and (min-width:600px){
    input[type="number"]{
     width : 40%;
     height : 30px;
     border : solid 1.5px orange;
     border-radius : 5px;
     margin-top: 10px;
     margin-bottom : 10px;
     }
 }
 
 ::placeholder {
 	color : orange;
 }
 
 input[type="submit"]{
 	width : 30%;
 	height : 30px;
 	background-color : orange;
 	border-style : none;
 	border-radius : 5px;
 	margin-top: 20px;
 	margin-bottom : 20px;
 	color : white;
 }
 
 .item-title{
 	color : coral;
 	font-weight : bold;
 }
 
 .result-text{
 	color : orange;
 	margin-top : 5px;
 } 